@import "../../variables.scss";

.authurs_page {
  min-height: 100vh;
  height: 100%;
  margin-top: 100px;
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .box {
      background: $bg_color_alt;
      display: flex;
      border: 1px solid rgb(215, 214, 214);
      border-radius: 5px;
      overflow: hidden;
      padding: 10px;
      gap: 10px;

      .img_con {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        overflow: hidden;
      }

      .txt_con {
        h3 {
          font-size: 15px;
          font-weight: 600;
          text-transform: capitalize;

          @media (max-width: 425px) {
            font-size: 14px;
          }
        }

        p {
          font-size: 14px;
          padding: 2px 0;
        }

        .activity_section {
          display: flex;
          align-items: center;
          gap: 15px;

          span {
            font-weight: 500;
            font-size: 14px;
            text-transform: capitalize;
            color: $light_text_color;
          }
        }
      }
    }

    @media (max-width: 900px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 0;
      a:last-child .box {
        border-bottom: none;
      }

      a:first-child .box {
        padding-top: 0;
      }

      .box {
        background: transparent;
        box-shadow: none;
        border-radius: 0px;
        padding: 0;
        gap: 10px;
        border: none;
        border-bottom: 1px solid grey;
        border-bottom: 1px solid rgb(230, 225, 225);
        padding: 20px 0;
      }
    }
  }
}
