$primary_color: purple;
$light_text_color: grey;
$text_color: rgb(16, 15, 15);
$bg_color_alt: white;
$bg_color: whitesmoke;
$gradient: linear-gradient(to right, $primary_color, orange);
$cursive_font: "Satisfy", cursive;
$box_shadow: rgb(199, 198, 198);
